* { box-sizing: border-box; }
 
 body {
 	font-family: arial,sans-serif;
 	color:#24292e;
 }

 h1 {
 	text-align: center;
 	font-size: 1.85em;
 }
 .title {
 	position: absolute;
 	top: 0;
 	right: 0;
 	border: 2px solid black;
 	font-size: 1.25em;
 }

 #section1, #section2, #section3 {
 	
 	padding: 12px;

 }

 #section1 .content, #section2 .content, #section3 .content {
 	background-color: #C0C0C0; 
 	position: relative;
 	font-size: 1em;
 	border:2px solid black;
 	padding: 22px 2px 5px 10px;
 }
 
#section1 .title {
	background-color: #CD5C5C;
	padding:3px 20px;
}

#section2 .title {
	background-color: #8B0000;
	color:#fff;
	padding:3px 20px;
}

#section3 .title {
	background-color: #F0E68C;
	padding:3px 20px;
}

/* desktop  */
@media only screen and (min-width: 992px) {
	#section1, #section2, #section3 {
		display: inline-block;
		width: 33%;
	} 
}

/*tablet*/
@media only screen and (min-width:768px) and (max-width: 991px) {
	#section1, #section2, #section3 {
		display: inline-block;
	} 

	#section1, #section2 {
		width: 49.7%;
	}

	#section3 {
		width: 100%;
	}

}

/*mobile*/
@media only screen and (max-width: 767px) {
	#section1, #section2, #section3 {
		display: inline-block;
		width: 100%;
	} 

}